<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.iot.mapper.MirrorMapper"> 

	<select id="myHistory" resultType="com.smhrd.iot.domain.MyHistory">
		select * from my_history where member_id = #{id}
	</select>

	<select id="idconfig" resultType="com.smhrd.iot.domain.MyHistory">
		select b.member_id,b.cut_dy,a.salon_name,b.pic_path,b.memo
		from salon_info as a left join my_history as b
		on a.salon_id = b.salon_id 
		where member_id = #{id}
	</select>
	
	<insert id="saveImg" parameterType="com.smhrd.iot.domain.Image">
		insert into image (img_id, salon_id, img_name) values (#{img_id},#{salon_id},#{img_name})
	</insert>

	<insert id="saveVideo" parameterType="com.smhrd.iot.domain.Video">
		insert into video (video_id, salon_id, video_name) values (#{video_id},#{salon_id},#{video_name})
	</insert>

	<select id="videolist" resultType="com.smhrd.iot.domain.Video">
		select video_id, video_name from video
	</select>

	<select id="imglist" resultType="com.smhrd.iot.domain.Image">
		select img_id, img_name from image
	</select>

</mapper>